.title {
  font-size: 35px;
}

.heading-2 {
  color: #000;
}

.h2-highlight {
  background-color: #75e6da;
}

hr {
  width: 40%;
  margin-left: 0;
}

img.rei {
  width: 400px;
  height: 400px;
  object-fit: cover;
}

.nature-table {
  border-collapse: collapse;
}

td,
th {
  border: 2px solid rgb(49, 49, 49);
  padding: 8px;
}

.nature-table-cells {
  background: #bfc0ee;
}

/* This is probably a really terrible practice,
 * if I had to guess, in the sense that CSS should 
 * only be used for styling and not to specify
 * content/structure, but in this context it made
 * things a lot easier with all the repeated cells. 
 */
.atk::before {
  content: "Attack";
}

.atk {
  background: #f5ac78;
}

.def::before {
  content: "Defense";
}

.def {
  background: #fae078;
}

.spe::before {
  content: "Speed";
}

.spe {
  background: #fa92b2;
}

.spatk::before {
  content: "Special Attack";
}

.spatk {
  background: #9db7f5;
}

.spdef::before {
  content: "Special Defense";
}

.spdef {
  background: #a7db8d;
}
